WpfClient/Service References/ImageServer/ImageService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataViewModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataViewModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfImageViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImageViewModel" nillable="true" type="tns:ImageViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImageViewModel" nillable="true" type="tns:ArrayOfImageViewModel" />
  <xs:complexType name="ImageViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageId" type="xs:int" />
      <xs:element minOccurs="0" name="Photo" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImageViewModel" nillable="true" type="tns:ImageViewModel" />
</xs:schema>